<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BIggWhaleDatabaseLoad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BIggWhaleDatabaseLoad.Properties.Settings.NCrawlerConn"
            connectionString="Data Source=DESKTOP-KVPNMVI\SQLEXPRESS;Initial Catalog=CEF_db;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <BIggWhaleDatabaseLoad.Properties.Settings>
            <setting name="DataFolder" serializeAs="String">
                <value>C:\crawler\daily\</value>
            </setting>
        </BIggWhaleDatabaseLoad.Properties.Settings>
    </applicationSettings>
</configuration>
